* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modalCenter {
    position: absolute;
    top: 51% !important;
    transform: translateY(-40%);
    text-align: center;
}


.amount {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn_cart {
    border: 1px solid;
    width: fit-content;
    display: flex;
    height: 30px;
}

#up,
#num,
#down {
    text-align: center;
    width: 30px;
    background: transparent;
    border: none;
}

.alertDiv {
    color: white;
    background: #618985;
    border-color: #5b8b86;
}

.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    height: 15vh;
    color: white;
    background: #C19875;
}

.navBar-right {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
}

.navBarUL {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.navBarLI {
    padding-left: 3vw;
}

.content {
    width: 100vw;
    margin-top: 10vh;
    padding: 0.5rem 1rem;
    height: auto;
    background: #F2E3BC;
}

.contentTitle {
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-size: 3rem;
    text-decoration: underline;
}

.detail {
    width: 80%;
    margin: 0 auto;
}

.cardItem {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 31.5%;
    margin-bottom: 3vh;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-align: center;
    background: #efe5ca;
}

.card-text {
    font-size: 20px;
    text-decoration: none;
}

.footer {
    width: 100vw;
    height: 15vh;
    background: #414535;
    color: white;
    text-align: center;
    line-height: 15vh;
    font-size: 2rem;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: black;
}